@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Verrouillé";
}

<hgroup>
    <h1 class="text-danger">Locked</h1>
    <h2 class="text-danger">Account locked. Please try again.</h2>
</hgroup>
